.about{
    background-color:#747d8c;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about .about_heading{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.about_heading h1{
    font-size: 25px;
}

.about_content{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.about_content p{
    color: white;
    font-size: 20px;
    text-align: justify;
    margin-left: 50px;
}
.about_content img{
    max-width: 200px;
    width: 100%;
    border-radius: 50%;
    border: 5px solid white;
    margin-right: 50px;
}
/* Mobile version */
@media screen and (max-width:480px) {
    .about_content{
        flex-direction: column;
    }
    .about_content p{
        margin-right: 50px;
    }
    .about_content img{
        margin-left: 50px;
    }
}
/* Tablet version */
@media screen and (max-width:768px) { 
    .about_content{
        flex-direction: column;
    }
    .about_content p{
        margin-right: 50px;
    }
    .about_content img{
        margin-left: 50px;
    }
}