.home{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.home .location_part{
    display: flex;
    align-items: center;
}
.left_part, .right_part {
    flex: 1; 
}
.home .right_part img{
    max-width: 400px;
    width: 100%;
}

.home .left_part p{
    color: #747d8c;
    font-size: 30px;
    font-weight: 500;
}

.home .left_part h1{
    color: #2f3542;
    font-size: 50px;
}

.home .left_part span{
    color: #2f3542;
    font-size: 20px;
    font-weight: 600;
}
.home .left_part button{
    padding: 5px 30px 5px 30px;
    margin-top: 20px;
    font-size: 18px;
    background-color: #747d8c;
    border: 2px solid #747d8c;
    border-radius: 5px;
    color: white;
    font-weight: 550;
    cursor: pointer;
}
.home .left_part button:hover{
    background-color: white;
    color: #747d8c;
    transition: 0.4s;
}
/* Mobile version */
@media screen and (max-width:480px) {
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home .right_part img{
        max-width: 250px;
        width: 100%;
        margin-bottom: 50px;
    }
}
/* Tablet version */
@media screen and (max-width:768px) {
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home .right_part img{
        max-width: 300px;
        width: 100%;
        margin-bottom: 50px;
    }
    .home .left_part h1{
        font-size: 30px;
    }
    .home .left_part p{
        font-size: 20px;
    }
}