/* Desktop version */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color:white;
    width: 100%;
}
.header_right{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
    margin-right: 52px;
    margin-bottom: 20px;
}
.header_left{
    margin-top: 20px;
    margin-left: 52px;
    margin-bottom: 20px;
}
.header_right{
    color:#2f3542;
    font-weight: 600;
}
.header_menu{
    display: none;
}
.header_right h4{
    cursor: pointer;
}
.header_right h4:hover{
    color: #747d8c;
}
/* Mobile version */
@media screen and (max-width:480px) {
    .header_right{
        display: none;
    }
    .header_menu{
        display: inline;
        cursor: pointer;
        margin-right: 50px;
    }
    .header_menu button{
        background-color: black;
        padding: 5px 10px 5px 10px;
        font-size: 15px;
        width: 120px;
        border: 3px solid black;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        cursor: pointer;
    }
    .header_menu button:hover{
        background-color: white;
        transition: 0.3s;
        color: black;
    }
}
/* Tablet version */
@media screen and (max-width:768px) {
    .header_right{
        display: none;
    }
    .header_menu{
        display: block;
        cursor: pointer;
        margin-right: 50px;
    }
    .header_menu button{
        background-color: black;
        padding: 5px 10px 5px 10px;
        font-size: 15px;
        width: 120px;
        border: 3px solid black;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        cursor: pointer;
    }
    .header_menu button:hover{
        background-color: white;
        transition: 0.3s;
        color: black;
    }
}