.skill{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.skill .skill_heading{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.skill_heading h1{
    font-size: 25px;
}
.skill_content{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.skill_content img{
    max-width: 100px;
    width: 100%;
}

/* Media query not required */